dbapi="postgresql://foo:bar@host:port/plantlake_test"
db_url="postgresql://foo:bar@host:port/plantlake_test"
dset_api_key="deadbeef"
dset_api_groups_key="deadbeef"
base_url="https://api.dset-energy.com"